### the results
output/
src/.ipynb_checkpoints/create_experiment_crip-checkpoint.py
src/.ipynb_checkpoints/Experiment-checkpoint.ipynb
.ipynb_checkpoints/.gitignore-checkpoint
data/Afternoon/*
data/Evening/*
src/.ipynb_checkpoints/*
src/__pycache__/*
data/CDMX/*
